// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@tailwind preflight;

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

@import "components/structure";
@import "components/header";
@import "components/slider";
@import "components/menu";
@import "components/body";
@import "components/footer";

@tailwind utilities;
